{% extends "layout.html.twig" %}
{% block title post.name %}
{% block body %}
	<h1>{{ post.name }}</h1>
	<img src="https://picsum.photos/700/500" alt="...">
	<p class="text-muted mt-2">{{ post.created_at | ago }}</p>
	
	{% if post.category_id %}
		<a href="{{path('blog.category', {slug: post.category_slug})}}" title="{{post.category_name}}">{{post.category_name}}</a>
	{% endif %}

	<p>{{ post.content | nl2br }}</p>
{% endblock %}
